
<div id="set-answer">
  <p>{{index.pname}}, no cheating!</p>
  <p>{{index.executioner}}, Set Answer:</p>
</div>

<div class="submit-answer">
  {{#if end}}
    {{#link-to "index"}}<button class="btn"{{action 'restart'}}>Play Again</button>{{/link-to}}
  {{/if}}
  {{#if finalArray}}
    <p class="topic">Topic: {{settopic.topic}}</p>
  {{/if}}
  {{#unless finalArray}}
    {{input value=textValue id="answer-input-field" maxlength="25" insert-newline="startOnEnter"}}
    <button{{action 'generateGuessField' textValue}} class="btn" id="start_btn">Get Word</button>
  {{/unless}}
</div>

<p class="guess-letters" id="guess-letters">
    {{#each finalArray as |letter|}}
      {{letter.placeholder}}
    {{/each}}
</p>

<div id="buttons">
  {{#each alphabet as |character|}}
    {{#unless end}}
      {{letter-component let=character action="controllerCheckAnswer"}}
    {{/unless}}
  {{/each}}
</div>

<div>{{picture}}</div>

<div class="guesses">
  {{#if dead}}
    <p class="gameOver">Game Over</p>
  {{/if}}
  {{#if winner}}
    <p>{{index.pname}} has survived!</p>
  {{/if}}
  {{#unless end}}
    <p><span id="guessNumber">{{wrongGuesses}}</span> guesses remaining.</p>
  {{/unless}}
</div>

<div class="hangman">
  <div class="bodyPart" id="head"></div>
  <div class="bodyPart" id="body"></div>
  <div class="bodyPart" id="larm"></div>
  <div class="bodyPart" id="rarm"></div>
  <div class="bodyPart" id="lleg"></div>
  <div class="bodyPart" id="rleg"></div>
</div>

<h2>You are currently logged as: {{session.data.authenticated.profile.email}}</h2>
