
<div class="submit-answer">
  {{#if end}}
    {{#link-to "index"}}<button class="btn"{{action 'restart'}}>Play Again</button>{{/link-to}}
  {{/if}}

  <button class="btn" {{action 'logout'}}>Logout</button>


  {{#if displayDefinition}}
    {{definition}}
  {{else}}



    <button onclick={{action 'getWord' (mut showLetters) true}} class="btn" id="start_btn">Get Word</button>
  {{/if}}
</div>

{{#if displayGuessField}}
  <p class="guess-letters" id="guess-letters">
      {{#each wordToPresent as |letter|}}
        {{letter.placeholder}}
      {{/each}}
  </p>
{{/if}}

<div id="buttons">
  {{#if showLetters}}
    {{#each alphabet as |character|}}
      {{#unless end}}
        {{letter-component let=character action="controllerCheckAnswer"}}
      {{/unless}}
    {{/each}}
  {{/if}}
</div>

{{!-- scoreboard --}}




{{#if showHead}}
  <img src={{user.currentUser.picture}}>
{{/if}}




<div class="guesses">
  {{#if dead}}
    <p class="gameOver">Game Over</p>
  {{/if}}
  {{#if winner}}
    <p>{{index.pname}} has survived!</p>
  {{/if}}
  {{#unless end}}
    <p><span id="guessNumber">{{wrongGuesses}}</span> guesses remaining.</p>
  {{/unless}}
</div>

{{#if showHead}}
  <div class="bodyPart" id="head"></div>
{{/if}}



<div class="hangman">
  <div class="nametag">{{model.name}}</div>
  <div class="base"></div>
  <div class="upright"></div>
  <div class="crossbar"></div>
  <div class="noose"></div>
  <div class="rope"></div>
  {{!-- {{#if showHead}}
    <div class="bodyPart" id="head"></div>
  {{/if}}
  {{#if showBody}}
    <div class="bodyPart" id="tshirt"></div>
  {{/if}}
  {{#if showRArm}}
    <div class="bodyPart" id="rarm"></div>
  {{/if}}
  {{#if showLArm}}
    <div class="bodyPart" id="larm"></div>
  {{/if}}
  {{#if showLLeg}}
    <div class="bodyPart" id="lleg"></div>
  {{/if}}
  {{#if showRLeg}}
    <div class="bodyPart" id="rleg"></div>
  {{/if}} --}}
</div>
