
<div id="set-answer">
  <p>{{index.pname}}, no cheating!</p>
  <p>{{index.executioner}}, Set Answer:</p>
</div>

<div class="submit-answer">
  {{#if end}}
    <button class="btn">Play Again</button>
  {{/if}}
  {{#if finalArray}}
    <p class="topic">Topic: {{settopic.topic}}</p>
  {{/if}}
  {{#unless finalArray}}
    {{input value=textValue id="answer-input-field" maxlength="30"}}
    <button{{action 'generateGuessField' textValue}} class="btn">Start</button>
  {{/unless}}
</div>

<div class="guess-letters">
    {{#each finalArray as |letter|}}
      {{letter.placeholder}}
    {{/each}}
</div>

<div id="buttons">
  {{#each alphabet as |character|}}
    {{#unless end}}
      {{letter-component let=character action="controllerCheckAnswer"}}
    {{/unless}}
  {{/each}}
</div>

<div class="guesses">
  {{#if dead}}
    <p class="gameOver">Game Over</p>
  {{/if}}
  {{#if winner}}
    <p>{{index.pname}} has survived!</p>
  {{/if}}
  {{#unless end}}
    <p><span id="guessNumber">{{wrongGuesses}}</span> guesses remaining.</p>
  {{/unless}}
</div>

<div class="hangman">
  <div class="bodyPart" id="head"></div>
  <div class="bodyPart" id="body"></div>
  <div class="bodyPart" id="larm"></div>
  <div class="bodyPart" id="rarm"></div>
  <div class="bodyPart" id="lleg"></div>
  <div class="bodyPart" id="rleg"></div>
</div>
