<div class="navbar">
  <div class="signout" onclick={{action 'signOut'}}>
    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
    <h4>Sign Out</h4>
  </div>
  <div class="scoreboard" onclick={{action 'transitionToScoreboard'}}>
    <h4>Scoreboard</h4>
  </div>
</div>

<div class="submit-answer">
  {{#if displayDefinition}}
    {{definition}}
  {{/if}}
</div>

<p class="dashes">
    {{#each wordToPresent as |character|}}
      {{character.placeholder}}
    {{/each}}
</p>
<div class="guess-letters">
  {{#if end}}
    <i class="fa fa-refresh fa-5x" onclick={{action 'getWord'}} aria-hidden="true"></i>
  {{else}}
    {{#each alphabet as |character|}}
    <div class="letter">{{letter-component let=character action="checkAnswer"}}</div>
    {{/each}}
  {{/if}}
</div>

{{#unless definition}}
  <div class="play-button">
    <button type="submit" class="btn" {{action 'getWord'}}>Start</button>
  </div>
{{/unless}}

<div class="personal-score">
  <div>Points:&nbsp;{{model.points}}</div>
  <div>Streak:&nbsp;{{currentStreak}}</div>
</div>

<div class="hangman">
    <div class="nametag">{{model.name}}</div>
  {{#if showBase}}
    <div class="base"></div>
  {{/if}}
  {{#if showUpright}}
    <div class="upright"></div>
  {{/if}}
  {{#if showCrossbar}}
    <div class="crossbar"></div>
  {{/if}}
  {{#if showNoose}}
    <div class="noose"></div>
  {{/if}}
  {{#if showRope}}
    <div class="rope"></div>
  {{/if}}
  {{#if showEyes}}
  <div class="eyes">
    <div class="eyePair">
       <div class="eyeball eyeballLeft"></div>
       <div class="eyeball eyeballRight"></div>
    </div>
    <div class="eyePair">
      <div class="eyeball eyeballLeft"></div>
      <div class="eyeball eyeballRight"></div>
    </div>
  </div>
  {{/if}}
</div>
