
<div id="set-answer">
  <p>{{index.pname}}, no cheating!</p>
  <p>{{index.executioner}}, Set Answer:</p>
</div>

<div class="submit-answer">
  {{input value=textValue id="answer-input-field"}}
  <button{{action 'generateGuessField' textValue}}>Start</button>
</div>
<div class="guess-letters">
  {{#each finalArray as |letter|}}
    {{letter.character}}
  {{/each}}
</div>
<div id="buttons">
  {{#each alphabetList as |character|}}
    {{letter-component let=character chosen='false' answer=finalArray}}
  {{/each}}
</div>
